.container {
    background-image: url(banner.jpg);
    width: 100%;
    height: 80vh;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navbar {
    background-color: black;
    height: 25px;
    align-content: center;
}


ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 90%;
    margin: 0;
    padding: 0;

    text-decoration: none;
    /* remove underline */
    color: inherit;
    /* remove blue */
}

li {
    display: block;
    /* Default */
    list-style-type: none;
    color: white;
}

a {
    text-decoration: none;
    /* background:
        linear-gradient(to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)),
        linear-gradient(to right,
            rgb(180, 199, 247),
            rgb(150, 139, 235),
            rgb(40, 26, 167));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
*/
    color: inherit;
    /* remove blue */
}

a:hover {
    background-size: 0 3px, 100% 3px;
}


body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container2 {
    display: flex;
}

.column {
    float: auto;
    padding: 5%;
    width: 45%;

    /* Should be removed. Only for demonstration */
}

.gap {
    width: 5%;
    /* Should be removed. Only for demonstration */
}

p {
    text-align: justify;

}

img {
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer {
    bottom: 0;
    height: 2.5rem;
    /* Footer height */
}

li:hover {
    color: rgb(236, 193, 140);

}

li::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(233, 216, 216);
    transition: 300ms;
}

li:hover::after {
    width: 100%;
}